.navigation-logo {
  .u-float-left;

  // pre-set logo sizes
  // displays 'large' by default
  .large {
    padding: @icon-padding / 2;

    .navigation-logo__image {
      height: @icon-size + @icon-padding;
    }
  }

  .small {
    padding: @icon-padding;

    .navigation-logo__image {
      height: @icon-size;
    }
  }

  .fill &__image {
    height: @icon-size + (@icon-padding * 2);
  }
}
