.navigation-logo {
  // standard padding display
  &__inner:not(.is-fill) {
    padding: @icon-padding / 2;
  }

  // standard height display
  &__image {
    height: @icon-size + @icon-padding;
  }

  // fill nav height display
  .is-fill &__image {
    height: var(--adapt-navigation-height);
  }

  &.has-link {
    cursor: pointer;
  }

  &.is-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
